## Python Tuples

#### Python which can be written as a tuple of comma-separated values between round brackets.
#### Most important thing is the tuples cannot be changed unlike lists; Tuples are immutable

### 1. Declaring a tuple

In [1]:
tuple11 = 1, 2

In [3]:
tuple11

(1, 2)

In [2]:
tuple1 = (700, "world", 'hello', 6.5, False)

In [4]:
tuple1

(700, 'world', 'hello', 6.5, False)

In [5]:
tuple2 = (200/2, 200*2, 3, \
      4.75, -5 )

In [6]:
tuple2

(100.0, 400, 3, 4.75, -5)

In [10]:
# Repetition
tuple2 * 1

(100.0, 400, 3, 4.75, -5)

In [11]:
tuple3 = ("a", "b", "c", "d")

In [12]:
# Nested Tuple
tuple4 = ("how", ("come", 1, 'will'), True)

# Nested with calling predefined tuple
tuple5 = ['True', tuple3, 199700.97, 2.5]

In [13]:
tuple5

['True', ('a', 'b', 'c', 'd'), 199700.97, 2.5]

In [14]:
#Also assign a blank tuple like
tuple6 = ()
print(tuple6)
tupl7 = (50, )
print(tupl7)

()
(50,)

In [15]:
#Creating a tuple using tuple function
tuple5 = tuple(['a', 'b'])
tuple5

('a', 'b')

In [16]:
tuple6 = tuple('tuple')
tuple6

('t', 'u', 'p', 'l', 'e')

In [17]:
tuple7 = tuple({'a': 1, True: 4})
tuple7

('a', True)

In [18]:
tuple8 = tuple((1, 'two', [1, 2]))
tuple8

(1, 'two', [1, 2])

### 2. Accessing values in tuple

In [19]:
tuple1

(700, 'world', 'hello', 6.5, False)

In [20]:
tuple1[0]

700

In [25]:
tuple4[1][1]

1

In [26]:
# Accessing range of items - POSITIVE Indexing
tuple2[0:3]

(100.0, 400, 3)

In [29]:
# Accessing range of items - NEGATIVE Indexing 
tuple2[-4:-2]

(400, 3)

In [30]:
#Unpacking while accessing
unpack = (1, 'two', [4, 4, 4], {'four': 5})
a, b, c, d = unpack

In [33]:
#One step further for unpacking
pack_tuple = (10, 20, 30)
a, _, c = pack_tuple

In [35]:
pack_tuple = (10, 22, 31, 41/5, 5, 11, 12, 13, 14, 15)
a, *middle, c = pack_tuple
middle

[22, 31, 8.2, 5, 11, 12, 13, 14]

In [37]:
_, *tail = pack_tuple
tail

[22, 31, 8.2, 5, 11, 12, 13, 14, 15]

In [38]:
head, *_ = pack_tuple
head

10

### 3. Updating the tuple

In [40]:
#Changing single index value in a tuple
print(tuple2)

(100.0, 400, 3, 4.75, -5)

In [41]:
tuple2[2] = 2.5
print(tuple2)

TypeError: 'tuple' object does not support item assignment

#### 
- See, you cannot do the above thing because tuple is immutable, cannot be altered but what can be done instead is:

In [42]:
# Creating a new tuple out of two tuples like:
print(tuple4)
print(tuple3)
print(f'New tuple looks like: \n{tuple3 + tuple4}')

('how', ('come', 1, 'will'), True)
('a', 'b', 'c', 'd')
New tuple looks like:
('a', 'b', 'c', 'd', 'how', ('come', 1, 'will'), True)

### 4. Deleting tuple

In [43]:
tuple4

('how', ('come', 1, 'will'), True)

In [44]:
#Deleting a single value in a tuple
del tuple4[2]
print(tuple4)

TypeError: 'tuple' object doesn't support item deletion

#### 
- See, again cannot be done, as I said, tuple is immutable, but you can delete completely or maybe select limited number of values like

In [45]:
tuple5

('a', 'b')

In [46]:
del tuple5
tuple5

NameError: name 'tuple5' is not defined

- See cannot be found as it is deleted

In [47]:
print(tuple4)
tuple4[1]

('how', ('come', 1, 'will'), True)

('come', 1, 'will')

### Mutable elements

In [48]:
mutable_elements = (1, [1, 2], {0: 'zero', 1: 'one'})

In [49]:
mutable_elements

(1, [1, 2], {0: 'zero', 1: 'one'})

In [51]:
mutable_elements[1].append(3)
mutable_elements

(1, [1, 2, 3], {0: 'zero', 1: 'one'})

In [53]:
mutable_elements[2]['number'] = 'two'
mutable_elements

(1, [1, 2, 3], {0: 'zero', 1: 'one', 2: 'two', 'number': 'two'})

### 5. Basic Tuple Methods

#### 5.1 Length

In [54]:
print(tuple3)
len(tuple3)

('a', 'b', 'c', 'd')

4

In [55]:
tuple1 = (1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 4)
tuple1.count(1)

3

#### 5.2 Concatenate

In [56]:
print(tuple3)
print(tuple4)
newtuple = tuple3 + tuple4
newtuple

('a', 'b', 'c', 'd')
('how', ('come', 1, 'will'), True)

('a', 'b', 'c', 'd', 'how', ('come', 1, 'will'), True)

#### 5.3 Iteration

In [58]:
newtuple

('a', 'b', 'c', 'd', 'how', ('come', 1, 'will'), True)

In [57]:
for x in newtuple:
    print(x)

a
b
c
d
how
('come', 1, 'will')
True

#### 5.4 Check for a particular value in a tuple

In [60]:
print(newtuple)
tuple3 in newtuple

('a', 'b', 'c', 'd', 'how', ('come', 1, 'will'), True)

False

In [59]:
'a' in newtuple

True

In [61]:
tuple4[1] in newtuple

True

### 6. In-built methods for tuple

[Official inbuilt methods for a tuple and much more](https://python-reference.readthedocs.io/en/latest/docs/tuple/index.html?)